.Taskbox{
    width: 528px;
    height: 600px;
    display: flex;
    flex-direction: column;
    /* border: 1px solid black; */
    row-gap: 30px;
    z-index: 1;
}

.headSection{
    border-radius: 10px;
    border: 5px solid #FFF;
    background: #E9D8E9;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    height: 80px;
    text-align: center;
    padding: 20px;
}

.selectionSection{
    /* position: relative; */
    
}
.select{
    /* position: absolute; */
    border-radius: 10px;
    border: 5px solid #FFF;
    background: #CDC3E6;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    height: 80px;
    /* bottom: -60px;
    right: -250px;
    z-index: 2; */
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.select button{
    width: 60px;
    height: 30px;
    border: 1px solid grey;
    font-weight: bold;
    outline: none;
    border-radius: 5px;
    background-color: white;
}

.taskSection{
    /* position: relative; */
}
.task{
    max-height:330px;
    /* position: absolute;
    top:-10px;
    left: -300px;
    z-index: 3; */
    border-radius: 10px;
    border: 5px solid #FFF;
    background: #ABA8E2;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    backdrop-filter: blur(2px);
    overflow: auto;
}
.task::-webkit-scrollbar {
    width: 3px;
  }

  .task::-webkit-scrollbar-track {
    background: #ABA8E2;
  }

  .task::-webkit-scrollbar-thumb {
    background-color: #ffffff;
    border-radius: 10px;
    border: 1px solid #ffffff;
  }
ul{
    padding: 10px;
    list-style:none;
    display: flex;
    flex-direction: column;
}

li{
    padding: 10px 10px;
    border-radius: 5px;
}
li:hover{
    background-color: white;
}
li{
    position: relative;
}
.date{
    position: absolute;
    right: 0;
    font-size: 12px;
    padding: 5px;
}

.taskForm{
    max-height:330px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    gap: 50px;
    justify-content: center;
    align-items: center;
    border: 5px solid #FFF;
    border-radius: 10px;
    background: #ABA8E2;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    backdrop-filter: blur(2px);
}

      
form {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 30px;
}
form input {
    border: none;
    width: 350px;
    background: #ABA8E2;
    border-bottom: 1px solid lightgray;
    padding: 20px 10px;
    outline: none;
}
form input::placeholder{
    color: black;
}
form button {
    width: 50%;
    padding: 10px;
    border: none;
    color: black;
    background-color: white;
    font-weight: bold;
    cursor: pointer;
    border: 1px solid grey;
    outline: none;
    border-radius: 5px;
}
.removalContainer{
    margin-top: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
.deleteBut{
    background-color:#ABA8E2;
}

.removalContainer button{
    width: 60px;
    height: 30px;
    border: 1px solid grey;
    font-weight: bold;
    outline: none;
    border-radius: 5px;
}
