* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.App{    
    position: relative;
    width: 100vw;
    height: 100vh;
    background: linear-gradient(180deg, #EBDAE9 0%, #AAA7E2 85.73%), #FFF;
    display: flex;
    justify-content: center;
    align-items: center;
}
.whiteBox{
  width: 300px;
  height: 600px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 10px;
  background: linear-gradient(180deg, rgba(255, 255, 255, 0.32) 1.86%, #FFF 78.53%);
}